*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
/* ======= navbar ======= */
header{
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-between;
  padding: 10px;
}

.pages-list{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav-link{
  color: white;
  padding: 0.35rem 0.5rem;
}

/* ======= shop ======= */
.shop-title{
  text-align: center;
  margin:  1rem 0;
}

/* .shop-container {
  max-width: 1200px;
  margin:1rem auto;
  display: flex;
} */
.cart-container{
  max-width: 1200px;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.product-img{
  width: 100%;
}

.product-btn{
  max-width: 100px;
  margin: 0 auto;
  padding: 0.35rem 0.5rem;
  background-color: white;
  border-radius: 20px;
  display: block;
}

.product{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shop-container{
  margin: 1rem auto;
  min-width: 800px;
}

.product-name{
  text-align: center;
}